  .table-container {
    margin-top: 20px;
  }
  
  .table-container input {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .table-container th {
    text-align: left;
    background-color: #f7fafc;
    color: #718096;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    vertical-align: middle;
  }
  
  .table-container td {
    text-align: left;
    font-size: 14px;
    padding: 10px;
    vertical-align: middle;
  }
  
  .table-container tbody tr:nth-child(even) {
    background-color: #f7fafc;
  }
  
  .table-container tbody tr:hover {
    background-color: #edf2f7;
  }
  
  .table-container .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }